<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css?v=2025">
</head>
<body>

  <nav>
    <div class="nav-container">
      <div class="logo">
        <span>Portfolio</span>
      </div>

      <div class="links">
        <div class="link"><a href="/index.html">Trang chủ</a></div>
        <div class="link"><a href="/blog.html">Blog</a></div>
      </div>
    </div>
  </nav>

  <main class="blog-page">
    {{ content }}
  </main>

</body>
</html>
